<!DOCTYPE html>
<html>
<head>
	<title>The Other ERB</title>
</head>
<body>
	<h1> Here's another webpage </h1>
	<p> Behold this second webpage that I have created.</p>
	<p> Marvel at its plainness, and possible spelling errors.</p>
	<p> So this page needs some kind of "dynamic data", which is data that can be updated as needed.</p>
	<p> Do these paragraphs count? I mean, they can be updated by someone messing with the site.</p>
	<p> The instructions say I'd populate the dynamic data in the next release, and the next release is just making a route that brings you to this page. So I guess it does count?</p>
	<p> I sure hope it counts.</p>

</body>
</html>